In [1]:
import pandas as pd
import numpy as np

In [2]:
people_dict = {
    'id': ['1001', '1002', '1003', '2001', '2002', '2003'],
    'first_name': ['Alice', 'Bartholomew', 'Claire', np.nan, None, 'NA'],
    'last_name': ['Zane', 'Yeoman', 'Xavier', np.nan, np.nan, 'Missing'],
    'email_address': ['a_zane@email.com', 'b_yeoman@email.com', None, np.nan, 'emma_v@email.com', 'NA'],
    'age': ['20', '30', '40', None, None, 'Missing']
    }

In [3]:
people_df = pd.DataFrame(people_dict)
people_df

     id   first_name last_name       email_address      age
0  1001        Alice      Zane    a_zane@email.com       20
1  1002  Bartholomew    Yeoman  b_yeoman@email.com       30
2  1003       Claire    Xavier                None       40
3  2001          NaN       NaN                 NaN     None
4  2002         None       NaN    emma_v@email.com     None
5  2003           NA   Missing                  NA  Missing

In [4]:
# The following function call will remove all records with NaN values:
people_df.dropna()

     id   first_name last_name       email_address      age
0  1001        Alice      Zane    a_zane@email.com       20
1  1002  Bartholomew    Yeoman  b_yeoman@email.com       30
5  2003           NA   Missing                  NA  Missing

In [5]:
# The following function call is the same as the above function call, but the default arguments are passed explicitly:
people_df.dropna(axis='index', how='any')

     id   first_name last_name       email_address      age
0  1001        Alice      Zane    a_zane@email.com       20
1  1002  Bartholomew    Yeoman  b_yeoman@email.com       30
5  2003           NA   Missing                  NA  Missing

In [7]:
# If 'index' is passed into the 'axis' argument, then all rows with at least one NaN value are dropped.
# If 'columns' is passed into the 'axis' argument, then all columns with at least one NaN value are dropped.

# If 'any' is passed into the 'how' argument, then all rows/columns with at least one NaN value are dropped.
# If 'all' is passed into the 'how' argument, then all rows/columns with only NaN values are dropped.

In [8]:
people_df.dropna(axis='columns', how='any')

     id
0  1001
1  1002
2  1003
3  2001
4  2002
5  2003

In [12]:
# In order to remove all the rows where a specific column has missing values, we can do the following:
people_df.dropna(axis='index', how='any', subset=['age'])

     id   first_name last_name       email_address      age
0  1001        Alice      Zane    a_zane@email.com       20
1  1002  Bartholomew    Yeoman  b_yeoman@email.com       30
2  1003       Claire    Xavier                None       40
5  2003           NA   Missing                  NA  Missing

In [13]:
# In order to remove all the rows where specific columns has missing values, we can do the following:
people_df.dropna(axis='index', how='any', subset=['age', 'email_address'])

     id   first_name last_name       email_address      age
0  1001        Alice      Zane    a_zane@email.com       20
1  1002  Bartholomew    Yeoman  b_yeoman@email.com       30
5  2003           NA   Missing                  NA  Missing

In [17]:
people_df_2 = pd.DataFrame(people_dict)

# We can use the 'replace' function in the following way to handle missing values:
people_df_2.replace('NA', np.nan, inplace=True)
people_df_2.replace('Missing', np.nan, inplace=True)

people_df_2

     id   first_name last_name       email_address   age
0  1001        Alice      Zane    a_zane@email.com    20
1  1002  Bartholomew    Yeoman  b_yeoman@email.com    30
2  1003       Claire    Xavier                None    40
3  2001          NaN       NaN                 NaN  None
4  2002         None       NaN    emma_v@email.com  None
5  2003          NaN       NaN                 NaN   NaN

In [20]:
people_df_2.isna()

      id  first_name  last_name  email_address    age
0  False       False      False          False  False
1  False       False      False          False  False
2  False       False      False           True  False
3  False        True       True           True   True
4  False        True       True          False   True
5  False        True       True           True   True

In [35]:
people_df_2[['null_handled_age']] = people_df_2[['age']].fillna(0)
people_df_2

     id   first_name last_name       email_address   age null_handled_age
0  1001        Alice      Zane    a_zane@email.com    20               20
1  1002  Bartholomew    Yeoman  b_yeoman@email.com    30               30
2  1003       Claire    Xavier                None    40               40
3  2001          NaN       NaN                 NaN  None                0
4  2002         None       NaN    emma_v@email.com  None                0
5  2003          NaN       NaN                 NaN   NaN                0

In [36]:
people_df_2.dtypes

id                  object
first_name          object
last_name           object
email_address       object
age                 object
null_handled_age    object
dtype: object

In [ ]:
# The following statement will throw an error as the 'age' column is not an 'integer' column:
# people_df_2['age'].mean()

In [38]:
type(np.nan)

float

In [44]:
# Since the 'age' column has some NaN values (which are actually 'float' in nature), casting it directly into 'int', as done below, will throw errors:
# people_df_2['age'] = people_df_2['age'].astype(int)

# Instead of converting to 'int', it might be better here to convert the column into 'float', as shown below:
people_df_2['age'] = people_df_2['age'].astype(float)

people_df_2.dtypes

id                   object
first_name           object
last_name            object
email_address        object
age                 float64
null_handled_age     object
dtype: object

In [45]:
people_df_2['age'].mean()

np.float64(30.0)

In [ ]:
# The 'astype' function can be applied over a whole DF in order to convert all columns into a specific data type.

In [50]:
# The following list will be passed into the 'read_csv' function, which will replace all occurrences of this list's items into NaN:
missing_values = ['NA', 'Missing']

In [51]:
sr_df = pd.read_csv('../Data/partial_public_survey_results.csv', index_col='ResponseId', na_values=missing_values)
srs_df = pd.read_csv('../Data/survey_results_schema.csv', index_col='qname')

pd.set_option('display.max_columns', 113)
pd.set_option('display.max_rows', 87)

sr_df.head()

,MainBranch,Age,Employment,RemoteWork,Check,CodingActivities,EdLevel,LearnCode,LearnCodeOnline,TechDoc,YearsCode,YearsCodePro,DevType,OrgSize,PurchaseInfluence,BuyNewTool,BuildvsBuy,TechEndorse,Country,Currency,CompTotal,LanguageHaveWorkedWith,LanguageWantToWorkWith,LanguageAdmired,DatabaseHaveWorkedWith,DatabaseWantToWorkWith,DatabaseAdmired,PlatformHaveWorkedWith,PlatformWantToWorkWith,PlatformAdmired,WebframeHaveWorkedWith,WebframeWantToWorkWith,WebframeAdmired,EmbeddedHaveWorkedWith,EmbeddedWantToWorkWith,EmbeddedAdmired,MiscTechHaveWorkedWith,MiscTechWantToWorkWith,MiscTechAdmired,ToolsTechHaveWorkedWith,ToolsTechWantToWorkWith,ToolsTechAdmired,NEWCollabToolsHaveWorkedWith,NEWCollabToolsWantToWorkWith,NEWCollabToolsAdmired,OpSysPersonal use,OpSysProfessional use,OfficeStackAsyncHaveWorkedWith,OfficeStackAsyncWantToWorkWith,OfficeStackAsyncAdmired,OfficeStackSyncHaveWorkedWith,OfficeStackSyncWantToWorkWith,OfficeStackSyncAdmired,AISearchDevHaveWorkedWith,AISearchDevWantToWorkWith,AISearchDevAdmired,NEWSOSites,SOVisitFreq,SOAccount,SOPartFreq,SOHow,SOComm,AISelect,AISent,AIBen,AIAcc,AIComplex,AIToolCurrently Using,AIToolInterested in Using,AIToolNot interested in Using,AINextMuch more integrated,AINextNo change,AINextMore integrated,AINextLess integrated,AINextMuch less integrated,AIThreat,AIEthics,AIChallenges,TBranch,ICorPM,WorkExp,Knowledge_1,Knowledge_2,Knowledge_3,Knowledge_4,Knowledge_5,Knowledge_6,Knowledge_7,Knowledge_8,Knowledge_9,Frequency_1,Frequency_2,Frequency_3,TimeSearching,TimeAnswering,Frustration,ProfessionalTech,ProfessionalCloud,ProfessionalQuestion,Industry,JobSatPoints_1,JobSatPoints_4,JobSatPoints_5,JobSatPoints_6,JobSatPoints_7,JobSatPoints_8,JobSatPoints_9,JobSatPoints_10,JobSatPoints_11,SurveyLength,SurveyEase,ConvertedCompYearly,JobSat
ResponseId,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,,
1,I am a developer by profession,Under 18 years old,"Employed, full-time",Remote,Apples,Hobby,Primary/elementary school,Books / Physical media,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,United States of America,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,I have never visited Stack Overflow or the Sta...,NaN,NaN,NaN,NaN,NaN,Yes,Very favorable,Increase productivity,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,I am a developer by profession,35-44 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Bachelor’s degree (B.A., B.S., B.Eng., etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,API document(s) and/or SDK document(s);User gu...,20,17,"Developer, full-stack",NaN,NaN,NaN,NaN,NaN,United Kingdom of Great Britain and Northern I...,NaN,NaN,Bash/Shell (all shells);Go;HTML/CSS;Java;JavaS...,Bash/Shell (all shells);Go;HTML/CSS;Java;JavaS...,Bash/Shell (all shells);Go;HTML/CSS;Java;JavaS...,Dynamodb;MongoDB;PostgreSQL,PostgreSQL,PostgreSQL,Amazon Web Services (AWS);Heroku;Netlify,Amazon Web Services (AWS);Heroku;Netlify,Amazon Web Services (AWS);Heroku;Netlify,Express;Next.js;Node.js;React,Express;Htmx;Node.js;React;Remix,Express;Node.js;React,NaN,NaN,NaN,NaN,NaN,NaN,Docker;Homebrew;Kubernetes;npm;Vite;Webpack,Docker;Homebrew;Kubernetes;npm;Vite;Webpack,Docker;Homebrew;Kubernetes;npm;Vite;Webpack,PyCharm;Visual Studio Code;WebStorm,PyCharm;Visual Studio Code;WebStorm,PyCharm;Visual Studio Code;WebStorm,MacOS;Windows,MacOS,NaN,NaN,NaN,Microsoft Teams;Slack,Slack,Slack,NaN,NaN,NaN,Stack Overflow for Teams (private knowledge sh...,Multiple times per day,Yes,Multiple times per day,Quickly finding code solutions;Finding reliabl...,"Yes, definitely","No, and I don't plan to",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Yes,Individual contributor,17.0,Agree,Disagree,Agree,Agree,Agree,Neither agree nor disagree,Disagree,Agree,Agree,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
3,I am a developer by profession,45-54 years old,"Employed, full-time",Remote,Apples,Hobby;Contribute to open-source projects;Other...,"Master’s degree (M.A., M.S., M.Eng., MBA, etc.)",Books / Physical media;Colleague;On the job tr...,Technical documentation;Blogs;Books;Written Tu...,API document(s) and/or SDK document(s);User gu...,37,27,Developer Experience,NaN,NaN,NaN,NaN,NaN,United Kingdom of Great Britain and Northern I...,NaN,NaN,C#,C#,C#,Firebase Realtime Database,Firebase Realtime Database,Firebase Realtime Database,Google Cloud,Google Cloud,Google Cloud,ASP.NET CORE,ASP.NET CORE,ASP.NET CORE,Rasberry Pi,Rasberry Pi,Rasberry Pi,.NET (5+) ;.NET Framework (1.0 - 4.8);.NET MAUI,.NET (5+) ;.NET Framework (1.0 - 4.8);.NET MAUI,.NET (5+) ;.NET Framework (1.0 - 4.8);.NET MAUI,MSBuild,MSBuild,MSBuild,Visual Studio,Visual Studio,Visual Studio,Windows,Windows,NaN,NaN,NaN,Google Chat;Google Meet;Microsoft Teams;Zoom,Google Chat;Google Meet;Zoom,Google Chat;Google Meet;Zoom,NaN,NaN,NaN,Stack Overflow;Stack Exchange;Stack Overflow B...,Multiple times per day,Yes,Multiple times per day,Quickly finding code solutions;Finding reliabl...,"Yes, definitely","No, and I don't plan to",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,No,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Appropriate in length,Easy,NaN,NaN
4,I am learning to code,18-24 years old,"Student, full-time",NaN,Apples,NaN,Some college/university study without earning ...,"Other online resources (e.g., videos, blogs, f...",Stack Overflow;How-to videos;Interactive tutorial,NaN,4,NaN,"Developer, full-stack",NaN,NaN,NaN,NaN,NaN,Canada,NaN,NaN,C;C++;HTML/CSS;Java;JavaScript;PHP;PowerShell;...,HTML/CSS;Java;JavaScript;PowerShell;Python;SQL...,HTML/CSS;Java;JavaScript;PowerShell;Python;SQL...,MongoDB;MySQL;PostgreSQL;SQLite,MongoDB;MySQL;PostgreSQL,MongoDB;MySQL;PostgreSQL,Amazon Web Services (AWS);Fly.io;Heroku,Amazon Web Services (AWS);Vercel,Amazon Web Services (AWS),jQuery;Next.js;Node.js;React;WordPress,jQuery;Next.js;Node.js;React,jQuery;Next.js;Node.js;React,Rasberry Pi,NaN,NaN,NumPy;Pandas;Ruff;TensorFlow,NaN,NaN,Docker;npm;Pip,Docker;Kubernetes;npm,Docker;npm,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Stack Overflow,Daily or almost daily,No,NaN,Quickly finding code solutions,"No, not really",Yes,Very favorable,Increase productivity;Greater efficiency;Impro...,Somewhat trust,Bad at handling complex tasks,Learning about a codebase;Project planning;Wri...,Testing code;Committing and reviewing code;Pre...,NaN,Learning about a codebase;Project planning;Wri...,NaN,NaN,NaN,NaN,No,Circulating misinformation or disinformation;M...,Don’t trust the output or answers,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too long,Easy,NaN,NaN
5,I am a developer by profession,18-24 years old,"Student, full-time",NaN,Apples,NaN,"Secondary school (e.g. American high school, G...","Other online resources (e.g., videos, blogs, f...",Technical documentation;Blogs;Written Tutorial...,API document(s) and/or SDK document(s);User gu...,9,NaN,"Developer, full-stack",NaN,NaN,NaN,NaN,NaN,Norway,NaN,NaN,C++;HTML/CSS;JavaScript;Lua;Python;Rust,C++;HTML/CSS;JavaScript;Lua;Python,C++;HTML/CSS;JavaScript;Lua;Python,PostgreSQL;SQLite,PostgreSQL;SQLite,PostgreSQL;SQLite,NaN,NaN,NaN,NaN,NaN,NaN,CMake;Cargo;Rasberry Pi,CMake;Rasberry Pi,CMake;Rasberry Pi,NaN,NaN,NaN,APT;Make;npm,APT;Make,APT;Make,Vim,Vim,Vim,Other (please specify):,NaN,GitHub Discussions;Markdown File;Obsidian;Stac...,GitHub Discussions;Markdown File;Obsidian,GitHub Discussions;Markdown File;Obsidian,Discord;Whatsapp,Discord;Whatsapp,Discord;Whatsapp,NaN,NaN,NaN,Stack Overflow for Teams (private knowledge sh...,Multiple times per day,Yes,Multiple times per day,Quickly finding code solutions;Engage with com...,"Yes, definitely","No, and I don't plan to",NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,Too short,Easy,NaN,NaN

In [53]:
sr_df['YearsCode'].head(10)

ResponseId
1     NaN
2      20
3      37
4       4
5       9
6      10
7       7
8       1
9      20
10     15
Name: YearsCode, dtype: object

In [ ]:
# The following statement will throw an error, as the column has not been type-casted properly:
# sr_df['YearsCode'].mean()

In [56]:
# The following statement will also throw an error as there are string values in the column:
# sr_df['YearsCode'] = sr_df['YearsCode'].astype(float)

In [57]:
sr_df['YearsCode'].unique()

array([nan, '20', '37', '4', '9', '10', '7', '1', '15', '30', '31', '6',
       '12', '22', '5', '36', '25', '44', '24', '18', '3', '8',
       'More than 50 years', '11', '29', '40', '39', '2', '42', '34',
       '19', '35', '16', '33', '13', '23', '14', '28', '17', '21', '43',
       '46', '26', '32', '41', '45', '27', '38', '50', '48', '47',
       'Less than 1 year', '49'], dtype=object)

In [59]:
sr_df['YearsCode'].replace('Less than 1 year', 0, inplace=True)
sr_df['YearsCode'].replace('More than 50 years', 51, inplace=True)

In [60]:
sr_df['YearsCode'] = sr_df['YearsCode'].astype(float)

In [61]:
sr_df['YearsCode'].mean()

np.float64(15.28483812587975)